* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
}
.header-name {
  font-size: 45px;
  font-family: Pacifico;
  border-bottom: 1px solid orangered;
}
.list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 25%;
}
.list-nav li a {
  text-decoration: none;
  font-size: 25px;
  font-family: Pacifico;
  color: black;
  transition: 0.2s ease-out;
}
.list-nav li a:hover {
  border-bottom: 2px solid orangered;
}

/*  MAIN  SECTION              */

main {
  width: 90%;
  padding-left: 15%;
}
.first-art {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.img-all {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-para {
  font-size: 20px;
  margin-top: 10px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.hobys {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.hobys-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 50px;
  list-style: none;
}
.hobys-list li {
  display: inline;

  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-2 {
  padding-bottom: 60px;
}
.grid-item-5 {
  padding-top: 60px;
}
span {
  box-shadow: 2px 2px 2px orangered;
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 22px;
}
.contact {
  width: 100%;
}
.contact-me {
  width: 100%;
  display: flex;
  justify-content: center;

  font-size: 25px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 45px;
}
.contact-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
  box-shadow: 3px 3px 2px grey;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  padding: 10px 7px;
}
.link:hover {
  background-color: orangered;
  transition: 1s ease;
  color: white;
}
.section-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-me {
  width: 40%;
  height: 200px;
}
.about {
  font-size: 30px;
  margin-bottom: 20px;
}
.main-edu {
  width: 40%;
  height: 200px;
}
.education {
  font-size: 30px;
  margin-bottom: 40px;
}
.main-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  list-style: none;
}

.main-list li span {
  padding: 7px 20px;
  font-size: 26px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  margin-bottom: 30px;
}
.footer-links a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.footer-links a:hover {
  border-bottom: 2px solid orangered;
  transition: 0.5s ease;
}
