* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
}
.header-name {
  font-size: 45px;
  font-family: Pacifico;
  border-bottom: 1px solid orangered;
}
.list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 25%;
}
.list-nav li a {
  text-decoration: none;
  font-size: 25px;
  font-family: Pacifico;
  color: black;
  transition: 0.2s ease-out;
}
.list-nav li a:hover {
  border-bottom: 2px solid orangered;
}

/*  MAIN  SECTION              */

main {
  width: 90%;
  padding-left: 15%;
}
.first-art {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hobys {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.hobys-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 50px;
  list-style: none;
}
.hobys-list li {
  display: inline;

  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-2 {
  padding-bottom: 60px;
}
.grid-item-5 {
  padding-top: 60px;
}
span {
  box-shadow: 2px 2px 2px orangered;
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 22px;
}
